@model SelectList

<div class="city-select-form">
    <form asp-controller="Disk" asp-action="SelectCity" method="post">
        <h5>Выберите город</h5>
        <select class="city-select-form__select" name="Id" asp-items="Model"></select>
        <input class="city-select-form__submit-button mvc-button" type="submit" value="Выбрать"/>
    </form>
</div>
