.navbar {
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--primary);
}

::deep.navbar .nav-link {
    color: var(--text-white);
}

::deep.navbar .nav-link:hover {
    color: var(--text-white-hover);
}

.popup {
    position: relative;
}

.popup__label {
    cursor: pointer;
    user-select: none;
}

.popup__popup-block {
    position: fixed;
    top: 2rem;
    left: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}

.popup__popup-block_visible,
.popup:focus-within .popup__popup-block {
    opacity: 1;
    pointer-events: initial;
}

@media (min-width: 576px) {
    .popup__popup-block {
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.mvc-badge__anchor {
    position: relative;
}

.mvc-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -15%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background: var(--background-grey);
}

.mvc-badge_hidden {
    visibility: hidden;
}

.mvc-badge__text {
    color: var(--text-black);
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
}
