.header__navbar {
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--primary);
}

.header .header__navbar .header__navbar-link {
    color: var(--text-white);
}

.header .header__navbar .header__navbar-link:hover {
    color: var(--text-white-hover);
}

.mvc-badge__anchor {
    position: relative;
}

.mvc-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -15%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background: var(--background-grey);
}

.mvc-badge_hidden {
    visibility: hidden;
}

.mvc-badge__text {
    color: var(--text-black);
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
}
