@import url(https://fonts.googleapis.com/css?family=Nunito:800,700,600,400);

:root {
    --primary: #DF0031;
    --text-white: #FFFFFF;
    --text-white-hover: #FFFFFFCC;
    --border: #CCCCCC;
    --border-focus: #AAAAAA;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Nunito', sans-serif;
}

a:hover,
a {
    color: var(--primary);
}
